[Unit]
Description=home.boyarizo.es
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/home
Environment="PATH=/root"
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5000 app:app
Restart=always
Type=idle

[Install]
WantedBy=multi-user.target