[Unit]
Description=ExaControl WebUI service
After=network.target

[Service]
Type=notify
User=root
WorkingDirectory=/var/www/ExaControl-WebUI
Environment="PATH=/root"
ExecStart=/usr/local/bin/gunicorn --bind 127.0.0.1:5000 app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target